[2020-04-14 19:12] StKob opened #2 "[Question] PoE capability"
Are there any plans to build support for PoE? This board could be used for quite many applications where it could be powered via ethernet plug while communicating. For example: diy weather sensors.

[2020-04-14 20:50] PracticalCode opened #3 "Battery, Solar, & Native Low Power Mode support"
Are there any plans to build support for a battery 'hat'?

And\or are there any plans to build support for a solar 'hat', which could perhaps recharge the battery?

Along those lines, plans to support the low power mode (allowing the unit to 'sleep', and wake once an hour, then back to sleep.)

This board could be used for quite many applications where it could be used for remote \ standalone oper

[2020-04-15 09:32] fifteenhex commented on #3
There are plans for the Wifi enabled version to have a proper PMIC that has a charger etc.
The issue is getting a PMIC with the right default voltages as all of the very cheap ones (AXP, Injoinic) are apparently ordered in 2000+ batches with the customers required default voltages set and the ones I can get have the wrong voltage for the DDR memory.

With that said I have also looked at possibly u

[2020-04-15 09:38] fifteenhex commented on #2
I think getting the transformer and HV step down onto this board would be pretty hard. There isn't a lot of space and it was already a pain to make it this small and within the bounds of what the cheap Chinese PCB fabs can produce.

[2020-04-15 13:20] StKob commented on #2
Could you actually make board 32 x 32 and fit that stuff? Although I don't know if that would make big price difference.

[2020-04-15 13:48] fifteenhex commented on #2
I don't think the additional 2mm helps that much. At 4 layers without expensive stuff like blind vias (vias that are only present on some layers not through the entire board) there isn't much more space to route anything.

Looking at commercial PoE modules (i.e. https://www.alibaba.com/product-detail/12w-Output-Power-Over-Ethernet-PoE_112394905.html) I think it'd be physically impossible to get it

[2020-04-15 14:08] kadamski opened #4 "Development setup"
What development setup do you have for the board? My understanding is that the ethernet works in u-boot so the kernel and rootfs can be loaded over tftp/nfs, right?

The IPL, u-boot SPL and u-boot itself must be on the SPI NOR currently and when changing u-boot this could be broken it has to be desoldered, reflashed and soldered again or there is some easier option? Or can u-boot proper be loaded

[2020-04-15 14:42] StKob commented on #2
Something like this?
https://www.te.com/global-en/products/connectors/intersection/industrial-rj45/industrial-rj45-integrated-magnetic-jacks/ethernet-jacks-with-integrated-magnetics-and-poe.html

[2020-04-15 20:08] igut commented on #2
Using a POE capable Ethernet PHY you could extract the power from the cable to 4 additional pins from where an external POE module could provide power to many different applications and to the device itself. I have in mind this kind of modules: http://www.r-tone.com/en/ProductList.asp?SortID=35 The same approach can be seen on Banana-pi,  Rock-pi etc. This would make the BreadBee desirable for a b

[2020-04-15 23:34] lal12 opened #5 "[Question] FLASH sizes"
I wondered a bit about the FLASH size. A 16MB flash seems to be a bit small to me. After uboot and kernel it's only 12.5MB, which I would guess is just enough for a base system. Even a minimal embedded linux base system (busybox + ulibc ...) can quickly take up a significant amount of that. So it depends a bit on what game you want to play but for a more RPI and ease of use for anything direction

[2020-04-16 02:53] fifteenhex commented on #4
Sorry for the brevity. Writing this while eating on my lunch break..

tftp for the breadbee itself. The other chips have a bigger bootrom that can load a blob from sd card so I have combined uboot + kernel blob that gets loaded into memory and then I tell uboot to bootm the image thats in memory.

Yes. the SD card doesn't work in uboot yet so ethernet or loading over serial are the only options.
T

[2020-04-16 03:03] fifteenhex commented on #5
Sorry for the brevity. Writing this on my lunch break...

Currently 16MB NOR gets you uboot, one small kernel + uclibc based rescue environment, one bigger kernel + glibc based environment with python3. There are two issues with going above 16MB; 1 - If the addressing mode gets switched and the kernel crashes it'll probably get stuck at reboot. The AllWinner V3s has this problem. I suspect this ch

[2020-04-16 03:17] fifteenhex commented on #2
I understand what you guys as saying. This is my opinion on it:

- If you can find a RJ45 jack that has the magnetics and the PoE bits fully integrated that is the same size as the current one I can see if it's possible to make that work somehow. The problem is that most RJ45 jacks have pins that go through the board and there is no room in the current design for anything else to go through the bo

[2020-04-16 08:55] juehv commented on #3
I'm highly interesed in a SBC with suspend to ram capabilities, too :)
That would be very nice for my battery powered projects!
Looking forward to your crowd funding campain 👍

[2020-04-16 09:07] StKob commented on #2
I've found something like this: http://www.link-pp.com/upload/file/20190307/20190307135160306030.pdf

[2020-04-16 09:40] fifteenhex commented on #2
That doesn't include the electronics to actually do the PoE part.

[2020-04-16 13:23] StKob commented on #2
Ok, but you can then provide pins from that. Then it would be possible to make optional daughter board.

[2020-04-17 06:39] kadamski commented on #5
@fifteenhex For the first problem, some of the chips support 4byte opcodes which does not require mode switching so there is no problem with reset. I mean the SPI_NOR_4B_OPCODES flag in the kernel. This, however, would require CPU driven access for the flash, I guess, as the memory mapped peripheral does not probably support those opcodes?

[2020-04-17 09:04] fifteenhex commented on #5
I'll take a look at the registers for the flash controller again. It's possible to set the access opcode so maybe we can trick it into mapping different 16MB blocks into the memory window so it's all memory mapped. I didn't look too hard into it because I thought it would be a minefield of issues with the boot rom.

[2020-04-17 09:30] kadamski commented on #4
Could you explain a little bit how this rescue image works? How can we choose to boot from it instead of the main one? This is meant to be used when kernel/rootfs does not start, right? There is no such rescue for broken u-boot?

What is the protocol for that? How to enter this boot mode?

How about JTAG? My understand is that u-boot SPL enables it so it should be possible to load u-boot via openo

[2020-04-17 09:33] kadamski commented on #4
Also, is https://linux-chenxing.org/isp/ somehow related? My understanding is that there is some i2c -> spi bridge to flash the spi-nor but I did not understand how to use that. Could that be used for recovering broken flash? Is there some dedicated i2c bus for that? Does it always work or it has to be enabled somehow? Do you know any details on that?

[2020-04-17 11:02] lal12 commented on #5
Two off topic questions:
- Is there an (inofficial) datasheet for the SoC? I couldn't find anything yet.
- Regarding the "Get in touch!" part in the README how to contact you? EMail on your github profile?

[2020-04-17 11:04] fifteenhex commented on #4
u-boot will stop autoboot if you type "bzzbzz". From there you can load a kernel from tftp or run bb_boot_rescue and have it load the rescue environment. It would also be possible to have it load if a gpio is grounded or something.

If the u-boot image is broken in flash the SPL will complain it couldn't load it and wait for uboot to be sent via serial using the ymodem protocol. Recovering from a

[2020-04-17 11:09] fifteenhex commented on #4
All mstar chips seem to be able to become an i2c slave on pm_uart that allows programs to be loaded into memory, registers poked etc. I have the dongle and the windows tool but I haven't needed to use it yet. It should be possible to use that to load a program into memory to flash a blank device or recover a bricked one.

I think working out how the UART load in the bootrom works is the best solut

[2020-04-17 11:11] fifteenhex commented on #5
linux-chenxing.org is where I'm collecting info. There is one complete datasheet for a different chip that has many of the same registers etc. Aside from that it's a case of trawling through the vendor code

Yep.

[2020-04-17 12:15] kadamski commented on #4
But for the i2c method, there is an existing tool so the i2c communication it uses could be sniffed and we could understand how that works. How can UART loader in the bootrom be worked out? Do you have some knowledge about it?

[2020-04-17 12:38] fifteenhex commented on #4
That's true and other people have sniffed the i2c protocol used by other mstar parts so it's possible it'll be the same. With the current board it's not easy to test though as the usb->uart is on those pins.

Disassembling the bootrom. I did this to find out how to boot from SD card on the other chips.
It would be mostly a case of finding where the bootrom reads from the UART and working out the p

[2020-04-17 12:52] kadamski commented on #4
Ach, I see. Maybe it would be good to have at least some test points added for that on the future revisions of the board, then? However it should still be possible to solder two wires to the ch340e even now. So the console_tx and console_rx is used as SDA/SCL in this mode?

I still don't understand how to enable this i2c on those pins, though.

That's cool. What do you plan to put on the other sid

[2020-04-17 13:18] fifteenhex commented on #4
Yep. I learned about the tool after the board design was done and ordered.

I think it's done by pulling one of the pins down on reset to disable the uart and switch in the i2c slave it has.

There will be a mux chip that can switch an spi nor chip between the target board and a programmer. So I can mess modify the nor flash, switch it to the target, test it, modify it again,..
It'll make testing

[2020-04-17 15:11] ConnorRigby opened #6 "[Question] Boards for sale?"
I help run an open source, embedded linux framework called nerves (https://www.nerves-project.org/ , https://github.com/nerves-project) i'm very interested in the breadbee and would like to know if it's possible if i can buy a board off of you in an effort to get a port of our stack up and running on it. I see that you have a want for a nice python library that i could also help get started.
Thank

[2020-04-18 03:07] fifteenhex commented on #6
Your project looks interesting.

Boards aren't for sale yet. My freebies for people that will help out offer still stands but I'm out of PCBs at the moment. I've ordered more but with the current situation it might be a little while.

[2020-04-18 11:31] fifteenhex opened #7 "[TODO] Work out i2c/UART bootloader for flashing/recovery."
- Work out how the UART bootloader works so black or bricked boards can be flashed.

- Add the needed jumper/jumpers to the board so that it can be triggered.

[2020-04-18 14:40] fifteenhex commented on #4
I wired up the uart to i2c on another chip in the series and the i2c looks exactly the same as what other people have found on mstar based tvs: http://linux-chenxing.org/isp/

It doesn't even need a jumper and the i2c slave seems to be present even when the uart is turned on and uboot is running. very strange but maybe it'll be possible to bit bang i2c from the uart to allow de-bricking via the us

[2020-04-19 10:23] kadamski commented on #4
I was looking in the documents and forums to understand how this i2c debug mode could be enabled. It couldn't be simpler, though. Apparently the UART peripheral is detecting I2C START condition without switching modes, quite cool. My understanding is that UART_RX is SCL and UART_TX is SDA, right?

The ch340e does not have a pull-up on TX line, I think. Does it allow any bitbanging? I know the ch34

[2020-04-19 10:24] kadamski commented on #7
Is the bootrom dump available somewhere to look at it?

[2020-04-19 10:48] fifteenhex commented on #4
I'll check. I plugged in the wires and flipped them until i2cdetect saw something. The flashrom tool already has a driver for the mstar spi over i2c which it used. I managed to read out the contents of a chip with it yesterday.

I don't think the ch340e does bit bang but I think it could be faked by using RTS to pull the line low to create the SCL signal and the CTS pin to read the SDA line. The t

[2020-04-19 10:59] fifteenhex commented on #7
It's here.

https://github.com/fifteenhex/mc200c2camerahacks/blob/master/msc313ebootrom.bin

Since playing with the i2c thingy I'm wondering if the "UART" bootstrap pin setting I have might mean just stopping it booting to interfering with the i2c. Hopefully it isn't. Loading over UART normally is much better than spi over i2c with a weird hacky interface.

[2020-04-19 14:43] fifteenhex commented on #7
Note to self: UART reading is in the M5 bootrom but not the I3 one. I3 probably doesn't have UART boot.

[2020-04-20 08:07] kadamski commented on #4
That is how the brief describes it:
[code]

[2020-04-20 08:10] kadamski commented on #7
So for the msc313e, the only recovery option (in case of broken flash content) would be via i2c, right?

[2020-04-20 08:37] fifteenhex commented on #7
The SD card should be bootable. I just haven't looked hard enough yet for the pin to make it try to boot it. The strings in the I3 rom for that match up with the M5 rom and I'm already using it on the M5.

[2020-04-20 11:21] fifteenhex commented on #4
Well spotted. I haven't looked at it in ages.

I don't think I'll get a response but I've asked the ch340e maker it has a bit bang mode or anything.
I'm not finding an alternative FTDI or otherwise chip that has documented bit bang and is the same size.

[2020-04-20 11:39] kadamski opened #8 "Inductor values missing"
The inductor values on the schematic are missing. I suppose you have left them without values are you wanted to experiment with getting the voltage ripple. What did you end up choosing, 1.5uH ?

[2020-04-20 12:02] fifteenhex commented on #8
The current schematic was from when I was still doing the bring up and filling in the values.

The inductors I'm using at the moment are 1.5uH. The specific part is sunlord SPH202012H1R5MT but there are a number of off-brand makers of similar parts.

[2020-04-20 12:13] fifteenhex opened #10 "[TODO] Fix right side of QFN80 pinout"
For some reason the right side of the QFN80 got messed up and the pads aren't the same width as the other sides.

[2020-04-20 12:13] fifteenhex opened #11 "[TODO] Finish BoM"

[2020-04-20 12:38] #10 closed

[2020-04-20 12:45] #8 closed

[2020-04-20 12:45] kadamski commented on #4
Btw, it seems like the Conn_01x21 could be extended by 2 pins and could have access to raw console_tx and console_rx pins so that some cheap external i2c controller (or even other breadbee) could be easily used for recovery. Unless you have some specific reason to keep this connector exactly 21 pin wide.

[2020-04-20 12:51] fifteenhex commented on #4
No specific reason to keep and a good idea. As there are already vias and those pins aren't super critical I think they could take a path around the ground plane layer... Does seem like a better solution that trying to bit bang the slowest i2c in the world.

[2020-04-20 12:53] fifteenhex commented on #2
I think once you have a daughter board you might as well use an in-line PoE splitter with a microusb output.

[2020-04-20 20:34] kadamski commented on #7
About the bootrom deassembly, have you worked out something already? Where is the code stored in the address space, what is starting point, where is vector table stored? Anything that could help me get up to speed?

The SRAM is at 0xa0000000, peripherals are somewhere above 0x1f000000, RAM is at 0x20000000, but the beginning of the binary uses some 0xeaXXXXXX values so this doesn't seem to be a ve

[2020-04-21 03:23] fifteenhex commented on #7
The binary is mapped to 0x0. The vector table is at the beginning. The table is made up of ARM instructions instead of jump locations. The first 4 bytes should be the reset vector and that should be a branch to some ARM code that is right after the vector table.

What are you using for disassembly? I'm using hopper v4. I can give you my scrappy hopper database if that helps?

[2020-04-21 11:09] kadamski commented on #7
Oh, interesting, I though on ARM the vectors contains addresses, not instructions, thats useful, I have to change my reasoning, then.

I'm trying to use ghidra as it is opensource and free. I have some limited radare2 experience but the only real reverse engineering of binaries I did in last 10 years was for the esp8266 at the very beginning of its hype when none of the tools understood xtensa CPU

[2020-04-21 12:02] fifteenhex commented on #7
I tried radare2 via the cutter interface and it was a bit painful. Hopper probably isn't as good as IDA at working out all of the control flow etc but I think it was worth the $100.

[2020-04-22 14:13] kadamski commented on #7
Did you manage to find out what is at 0x1f200800 ?

[2020-04-22 14:17] fifteenhex commented on #7
According to my notes in the DTS (https://github.com/fifteenhex/linux/blob/4bf698c9b74b02df400bf635b851f85ccf9752ed/arch/arm/boot/dts/chenxing-v7.dtsi#L309) that's where the mailbox is. I think it's a mailbox between the ARM cpu and a house keeping 8051 that is there to handle deep sleep. The video processing parts also mention a 8051 and in some places openrisc.... so I'm not really sure which of

[2020-04-22 15:46] kadamski commented on #7
So basically all the operations on this peripheral are unknown? Od you did manage to find some code  that explains what is done there?

[2020-04-22 16:08] fifteenhex commented on #7
The vendor code writes the kernel log buffer address into some registers there on start up:
https://github.com/fifteenhex/linux-ssc325/blob/89341c7012404c72e192f198b2ea6405ec80d15d/arch/arm/mach-sstar/infinity3/soc.c#L404

I'm guessing that's so whatever is behind there is able to write messages in to the kernel log. Other than that I haven't found much other info about it. There are some interrup

[2020-04-22 16:20] kadamski commented on #11
The tvsarray is something like a SP3051 from little fuse ?

[2020-04-22 16:30] fifteenhex commented on #11
I went for the cheapest parts I could get from taobao for everything. The part is a no-name generic thing but they list SRV05-4 which is an onsemi part. On a quick glance it looks identical to the SP3051.
On all the boards I've built so far I haven't mounted it.

[2020-04-23 01:52] sbridger commented on #2
I disagree. Splitters are neither small, or cheap (relatively). Having the transformer centre taps available to feed an external circuit is ideal for me.
1) No added cost when it's not needed
2) You are not committed to any particular way of doing poe. The standards compliant way, is not what many hackers would be doing. (eg putting 4 breadbees in a box, you just feed 5V down the poe)
3) possibly

[2020-04-23 01:57] sbridger opened #12 "RTS/CTS for serial ports"
One issue with little router chips (tplink) is that the uarts don't bring out the RTS/CTS handshake lines, which makes serial rather flakey if you are doing any real work with it.
This is needed on one or both of the non-console uarts.

xon/xoff is not especially reliable , measured at 20chars latency in openwrt routers.
(RTS is also needed for RS485 direction)

[2020-04-23 08:36] fifteenhex commented on #2
The center taps of the transformer are available on C33 and C34.

I don't think there is enough space to do that and keep the trace width and spacing large enough that it can be produced on the cheap pcb services without making a mess.
I think there might need to be a bit of consideration on how to stop the PoE supply from back feeding into the usb too.

If someone whats to doodle out what is need

[2020-04-23 08:37] fifteenhex commented on #12
The FUART port has RTS/CTS signals. I haven't tried them but the UART is (probably) the well supported dw uart.

[2020-04-23 12:23] fifteenhex commented on #7
I think I see what you where talking about now. I just noticed the bootrom writes to the mailbox box right after disabling the WDT. I guess it's the ARM core telling the PM core that it's alive.

[2020-04-23 13:55] kadamski commented on #7
Yes, there are a bunch of such writes in the bootrom, I think I've seen this in more than one place. But I hadn't have too much time in last day to look at this deeper. Know it may do something related to PM might be good enough for now.

[2020-04-23 21:36] sbridger commented on #12
The issue (with routers etc) is: are the pins brought out?
Looks like they are on sch.

BTW I have a serial I2C adaptor unit made for use with little tplink routers. Aside from the main fn, it provides a reliable watchdog and power-down sleep service to the router. OpenWRT on the routers boot pretty fast, so the battery operated units are just turned off for low power. This is also the only absolu

[2020-04-24 03:19] sbridger commented on #2
OK, I will have a look.

btw , (on schematics) "M" is used for megohm resistors, "m" is milliohm.

Might be an idea to have RC filter on AVDD_node

On sch, I see you aren't taking the usb out to the usb connector.

Perhaps an option would be to put CH330, (8 pin SOP) over the usb resistors to USB_d?

Thus the usb could connect if resistors are in, or a CH330 could be fitted (easy to solder/remove

[2020-04-24 08:42] fifteenhex commented on #12
They are brought out. I'm not sure if the pinmux code is there to use them yet but I can check.

That would be handy. Could you drop me a line via email?

[2020-04-24 08:52] fifteenhex commented on #7
I thought I might have seen some writes to it in the code that runs in SRAM to do the suspend (https://github.com/fifteenhex/linux-ssc325/blob/89341c7012404c72e192f198b2ea6405ec80d15d/arch/arm/mach-sstar/infinity3/sram.S#L145) but it looks like I was miss remembering.

I think it is PM related though. The PM code writes the same 0xbabe magic number and then seems to try to turn the ARM core power

[2020-04-24 09:01] fifteenhex commented on #2
mmm ok. I'll update those values.

Initially I didn't expect to be able to reverse engineer the usb part so I didn't bother.
I'm not sure if a CH330 would fit. I think a SOP8 is bigger than a MSOP10. But I think there could be some jumpers somewhere to connect the usb data lines to the on board usb port.

[2020-04-24 10:40] kadamski commented on #7
In the function that seems to be like a main() (it is called at the end of the reset vector just before endless loop), I can see many writes to this address but this seems like some kind of "checkpoints mechanism" as each write there happens after some operation and the value written is incremented. So first write is 0xb01, then 0xb02 and 0xbff is written at the end of this function and such a cal

[2020-04-24 13:11] fifteenhex opened #13 "[TODO] Add control for ARM core rail for deep sleep"
pm_gpio4 seems to a magic pin that is used to control the ARM core power rail.

Add a mosfet or something that pm_gpio4 can control to power down the arm core.

Maybe remove pm_gpio4 from the header and put ir_in there instead.

[2020-04-24 13:15] fifteenhex commented on #7
It's coming back to me now. Yeah, they seem to write a value into a scratch register at different points in the boot rom. I think so they can work out where it died when debugging like you wrote.
Disregard what I wrote about PM. I think I was misremembering.

[2020-04-24 15:54] mbilloo opened #14 "Driver priority and boards?"
I'd like to help out with driver work (I have a fair amount of experience working on kernel drivers). What should be priority? Also, do you have any more boards you're giving out/selling?

Thanks

[2020-04-24 19:59] kadamski commented on #13
Do you have any code reference you could point to which is related to going to sleep?

[2020-04-24 20:05] kadamski commented on #7
Another unknown peripheral I stumbled opon in bootrom code is at 0x1f28041c and 0x1f28042c. Those registers seems to be writen in the function just before configuring pinmux for NAND/SDIO.
Have you stumbled opon those somewhere maybe?

There is also this 0x1f280400-0x1f28048f which seems to be somehow related to loading something from SD card (it is used on the function at 0x2bf8 in bootrom) but t

[2020-04-25 02:02] fifteenhex commented on #7
Looks like that's the "eMMC" copy of the sd host IP block that isn't broken out on the QFN80

https://github.com/fifteenhex/linux/blob/ff5b8260c9748cded793faecb7c3d2590cde928e/arch/arm/boot/dts/infinity.dtsi#L122

The chip seems to always output E:CD on boot which seems to be about checking the eMMC interface to boot from it but the card detect signal not being low.

[2020-04-25 02:14] fifteenhex commented on #14
Right now my priority is to try to get the base machine support into mainline. I want to do this as soon as possible so someone doesn't go and remove the barely used driver for the USB host controller.

Right now I have PCBs left for 4 boards that I'm going to build up and try to send out to people.
I got tons of requests for boards so I might have to be a pretty selfish and send them out to peopl

[2020-04-25 02:26] fifteenhex commented on #13
The C part is here:
https://github.com/fifteenhex/linux/blob/msc313e_dev_v5_6_rebase/arch/arm/mach-mstar/pm.c

What this basically does is load the assembly part into SRAM and sets a resume address in some registers you'll also see in the boot rom. The boot rom does a check for a magic number and jumps to the resume address back into the kernel.

The assembly part is here:
https://github.com/fifte

[2020-04-25 02:37] fifteenhex commented on #13
Scratch the mosfet bit. Looks like there is something internal that disconnects the power that can be controlled from pm_gpio4.

[2020-04-25 03:13] mbilloo commented on #14
This may be a silly question, but it looks like the bootrom explicitly attempts to load the IPL at a particular address in either SPI NOR or on the SD card. Is the idea that u-boot will simply be at the location of the IPL and so the bootrom will think it's loading IPL but it will instead be loading u-boot (which will do the necessary DRAM setup and rest of the init)?

[2020-04-25 03:14] mbilloo commented on #14
Also,  where could I find the IPL blob? The linux-chenxing repo doesn't seem to have it.

[2020-04-25 04:54] AdamKeher commented on #6
Do you know where I can purchase a few MSC313E SoC IC's?

I want to spin my own version of the board with some additional peripherals but can't see any options other than trying to lift them of existing boards.

[2020-04-25 06:38] fifteenhex commented on #6
There are still a few sets of 5 for $10 on ebay.

[2020-04-25 06:43] fifteenhex commented on #14
Exactly. At the moment because I haven't fully worked out the DRAM setup it is loading the IPL, then uboot's SPL then uboot for real. If we can do the DRAM setup in the SPL we can get rid of the IPL and everything is opensource. The current uboot source already has an option for building the SPL with the right header for the bootrom to think it's an IPL.

The current IPL is here: https://github.co

[2020-04-25 09:54] kadamski commented on #7
Looking at the code of the function at 0x1a4, I can see the place where E:CD is printed but there should also be "Load IPL to IMI from eMMC failed! [HALT]\r\n" printed after it. But my understanding of the code might be wrong as I basically cannot see how this string could ever not be printed - it seems like this print was unconditional which is strange. I guess you don't see this message, right?

[2020-04-25 10:35] fifteenhex commented on #7
On the infinity3 it comes out on every boot as if it always tries it before spi. On the mercury5 it comes out if you configure the boot straps for SD and don't have a card in.
I think I actually used that message coming out to validate boards before putting flash on them. ;)

Interesting. If you pull the pm spi clk line high it complains about not being able to init nand.
I wonder if DI is used to

[2020-04-25 11:35] kadamski commented on #7
I'm slowly working out the code around that to fully understand the boot logic.

That would make sense. I did, however, a typo and the offset is 0x1c0, not 0xc0, sorry for that. It actually does something like this:

[code]
However your explanation for DID does explain this code in the same function:
[code]

So basically if the value at offset 0xc (seems to be ChipID?) is not 0, the address 0xa in

[2020-04-25 12:55] fifteenhex commented on #7
I can solder a wire onto my board and see what happens?

Looks like there are some non-zero bytes there. I think each chip select in the register controller thing is 0x200 long so if I'm right that'd put that offset still inside the DID region.

[code]

That's possible. It's also possible what is there is different to what I thought it is. I don't think so as I was able to load the uboot SPL as th

[2020-04-25 13:12] AdamKeher commented on #6
Could I hassle you for a link. I've searched every MSTAR item on ebay and it seems to be filtering them out in Australia. I can find other MSTAR IC's but no MSC313E.

[2020-04-25 13:47] fifteenhex commented on #6
Sure:

https://www.ebay.com/itm/5pc-SMT-QFN-IC-chip-MSC313E/153876332882?_trkparms=aid%3D111001%26algo%3DREC.SEED%26ao%3D1%26asc%3D20160908105057%26meid%3Dca4d2bac12314e7ba3089c014104165b%26pid%3D100675%26rk%3D2%26rkt%3D15%26mehot%3Dlo%26sd%3D174233257925%26itm%3D153876332882%26pmt%3D0%26noa%3D1%26pg%3D2380057%26brand%3DUnbranded&_trksid=p2380057.c100675.m4236&_trkparms=pageci%3A430d268a-86fb-11ea

[2020-04-25 14:54] kadamski commented on #7
Now it all makes sense. The bootloader is taking bits from 2 to 5 from this register:
[code]
Then, there is a series of if statements for different values there. If none of the bits is set, we get this message printed - "Check DID_KEY h70 bits[5:2] for storage... undefined! [HALT]". We have 4 possibilities as the bits seems to be exclusive (only one can be set at a time):
- 0x4 - if something goes

[2020-04-25 15:02] AdamKeher commented on #6
Thanks, that worked.

[2020-04-26 04:46] fifteenhex commented on #3
Update on this:

Suspend to ram is now working to the point that it suspends and the RTC is able to wake it back up via an alarm but the boot rom gets stuck on reentry. My usb current meter shows 0.00A when it's sleeping so the consumption must be pretty low.

[2020-04-26 04:47] fifteenhex commented on #13
Board rework isn't needed. Almost working in software now.

[2020-04-26 04:47] #13 closed

[2020-04-26 05:31] fifteenhex commented on #3
Another update:

Working to the point that the kernel is restarting now. Hangs just after. Needs some love to work out what is locking it up but pretty close.

[2020-04-26 16:39] kadamski commented on #7
I have one additional unknown - the function I mentioned in my previous comment (I'm calling it boot_sd_or_nand() for now) is trying to read one of two PM_GPIO addresses, if the SPI0_DI was 1 (or was forced to 1), it will use 0x1f001f1c, if it was 0 - it reads 0x1f001e1c. So the offset in the PM_GPIO is either 0x11C (SD_CDZ) or 0x1C - this one I don't know, as you don't mention it in gpio-msc313-p

[2020-04-26 19:31] kadamski opened #15 "[TODO] Work out crypto engine"
Some work is already done in https://github.com/fifteenhex/linux/blob/msc313e/drivers/crypto/msc313-aesdma.c. The comment explains how SHA256 block could be used but there are other things this peripheral can do.

Based on disassembly of the bootROM, I was able to mostly confirm the sha256 generation:
- Each time a new operation is done, a value of 0 is written at the offset 0x0
- The 0x28 and 0x2

[2020-04-26 21:13] kadamski commented on #11
I guess b11b79b941a11807d1c2f3215691a770435c06a1 fixes that, right?

[2020-04-27 09:17] fifteenhex commented on #7
0x1c is PM_GPIO_7 (https://github.com/fifteenhex/linux/blob/6dc9f3186a721550c59820a0a9073034bda8601c/drivers/gpio/gpio-msc313-pm.c#L51) which isn't physically present on the MSC313E.

I think there might be 3 similar blocks in the chip, "sdio", "emmc" and "nand". I think what you're looking at is probably the code to work out which one to try.

[2020-04-27 09:31] kadamski commented on #7
This is cool. I was looking at the file in the msc313e branch which has a lot less information about this PM_GPIO offsets. I'll switch to msc313e_dev_v_5_6_rebase instead. I guess this is the branch you are currently working on?

BTW.. Since we don't have datasheet, the only source of the information about the register map is to read the drivers and devicetree. This is spread in many places and is

[2020-04-27 11:12] fifteenhex commented on #7
I've started doing that now. I'm going to move the register maps out of the drivers in to a page under ip blocks. I've done that for the SAR registers so far.

[2020-04-27 11:31] kadamski commented on #7
Oh, I didn't notice that. That is something I can help with for sure as I believe you have a lot of other important topics to take care of. I think it might also a good opportunity to spread the knowledge an maybe clarify some things.

[2020-04-27 12:12] fifteenhex commented on #7
Sorry I should have commented on this last time.. that is my current working branch. That's where all the latest info is so far. I'm rebasing it pretty often at the moment so it's likely to change.

I can add you as a committer to linux-chenxing so you can add anything you find directly if you want?

[2020-04-27 12:55] kadamski opened #16 "[QUESTION] Some UART related questions"
The UART seems to be mostly compatible with DesignWare UART. The best document explaining register map of this peripheral I was able to find is the https://linux-sunxi.org/images/d/d2/Dw_apb_uart_db.pdf, do you have anything better?

Based on this document, I cannot really understand what is happening in the BootROM so either I have wrong document or..

The code seems to be, for example, writing t

[2020-04-27 13:10] kadamski commented on #7
I would still prefer you to take a look at what I'm adding there as I'm not yet that confident about some parts. Unless you find it to disturbing to review that, in this case I can commit directly.

[2020-04-27 13:43] fifteenhex commented on #7
That makes two of us. ;)

I don't remind reviewing stuff but the wiki is just a though dump at the moment anyway so I don't think there is any harm just committing direct as you find things.

[2020-04-28 08:33] fifteenhex commented on #16
As far as I can tell the UART is a DW one with one of the registers moved. I added a fixup for the register location to the linux driver.

I think the issue with the addresses you are seeing are because the registers are shifted because of how they are connected to the bus. The shift is 3. So the register offsets are 0, 0x8, 0x18,...

[2020-04-28 08:36] fifteenhex commented on #15
Working this out would be really useful. Especially in uboot as it could make validating the images being loaded a lot faster.

There is a vendor driver here with register/bit locations -> https://github.com/fifteenhex/linux-ssc325/tree/v4.9.84-sigmastar/drivers/sstar/crypto

I haven't touched in ages. I think I could never get it to actually do anything and assumed the clock was wrong.

[2020-04-28 10:36] kadamski commented on #15
I will have a look at the driver and I will poke with that when i have a board, for sure, to verify the results are what is expected. Are you able to assign this task to me or its not possible as I'm not part of the team or something?

[2020-04-28 10:38] kadamski commented on #16
Oh, I have to take a look at this fixup, then. And the shift is probably what I was missing. Those tty drivers in the kernel are always hard for me to wrap my head around as there is so much abstraction there :)

[2020-04-28 10:49] fifteenhex commented on #15
Awesome. I manually poked the registers in that area for a long time and got nowhere but I think now more of the clocks etc are mapped out it might be easier to get it going. I've assigned this issue to you but I'll try to take a look too once I have the suspend to ram wrapped up.

On you board: Right now I'm waiting for some flux to build it up. I'm not sure why but amazon here had a week wait on

[2020-04-28 10:54] fifteenhex commented on #16
Another thing to look out for is that the register locations are always 2 bytes 4 bytes apart for stuff that's connected via the "RIU". So with blocks like the ethernet and usb that are existing designs and have 32bit registers those registers are split over 8 bytes. It's pretty strange but I think it's maybe because they used the same designs in their TV chips that are driven by some sort of 16 b

[2020-04-28 11:19] kadamski commented on #16
Yes, generally there is a lot of registers which internally only have 16 bits but take 32 bits. And even though they could be packed into one 32bit register, they are split into H and L 16bit register. Like the peripheral was designed for 16bit CPU.

But back to the UART, I feel a little stupid I did not notice that. I assumed the shift was 4, not 8. When applying shift=8, not all of the registers

[2020-04-28 11:26] kadamski commented on #15
I've heard the shipping (especially the international one) takes ages now so I don't have high hopes of the board arriving to me very soon anyways. Nothing beats the possibility to poke around on the real board to verify my assumptions but I still have plenty to do without it for now. In general the BootROM does not seem to hide any hidden gems, like the serial programming protocol you hoped for b

[2020-04-28 11:46] fifteenhex commented on #16
That seems to be after the standard registers. I'm guessing it's something to do with the DMA feature.

0x14c is called "uart sel". It seems to be for selecting which UART is behind the pins. It seems like it's even possible to connect the pm mcu (if there really is one..) to the UART as well.

[code]

[2020-04-28 11:49] fifteenhex commented on #15
I'll shoot you an email with some other bootroms.
From the IPL the thing I really want to work out is the memory init and how it works out what memory is fitted. I think the memory settings are in the efuse but I'm not sure.

[2020-04-28 14:54] mbilloo commented on #15
@kadamski , I've been looking into REing the IPL as well, but am at a fetal state. Do you have any recommendations on a disassembler?

[2020-04-28 17:08] kadamski commented on #15
@mbilloo I'm quite happy with Ghidra currently

[2020-04-28 17:29] fifteenhex commented on #15
Please keep in mind that currently the only thing we care about in the IPL is the DRAM init. From what I remember of the last time I booted the uboot SPL as the IPL that was the only missing piece to load uboot proper. Most of the rest of it is probably junk we can do without.

[2020-04-28 17:42] mbilloo commented on #15
@fifteenhex - understood. On that note, @kadamski, could you share your ghidra settings from your work on the boot ROM? Specifically, the block names and their base addresses. My strategy is to use Ghidra and search for references to addresses with LSBs of 0x1018 and see where that takes me. From the datasheet for the MST786 (which I'm assuming has a register file similar to that of the MSC313), t

[2020-04-29 07:48] fifteenhex commented on #15
The msb2521 datasheet seems to have the right registers for the MIU (dram controller). They match up what is in the vendor code anyhow.

[2020-04-29 16:25] mbilloo commented on #15
Did you just set the import settings to "default" (i.e. a base address of 0
and the length to the size of the binary)?

On Wed, Apr 29, 2020 at 3:48 AM Daniel Palmer <notifications@github.com>
wrote:

--
Mohammed Billoo

[2020-04-29 18:04] kadamski commented on #15
I'm a Ghidra noob. I don't use any specific settings. I wanted to create specific memory map with the peripherals at first but I did not find it useful after all so I abandoned that idea. So I just lookup the peripheral base addresses in the devicetree and register offsets in the device drivers in the Linux repo. @fifteenhex started putting this info on linux-chenxing.org and I plan on helping wit

[2020-04-29 19:30] mbilloo commented on #15
Can you provide the link to the device tree? It seems like there is no
msc313e.dts file in the linux repo.

On Wed, Apr 29, 2020 at 2:04 PM Krzysztof A. Adamski <
notifications@github.com> wrote:

--
Mohammed Billoo

[2020-04-29 21:34] kadamski commented on #15
@mbilloo https://github.com/fifteenhex/linux/blob/msc313e_dev_v5_6_rebase/arch/arm/boot/dts/chenxing-v7.dtsi

[2020-04-30 13:13] fifteenhex opened #17 "[TODO] Work out why DDR self refresh isn't working"
Probably a clock not getting switch to an always on clock.

[2020-05-01 11:45] kadamski opened #18 "[QUESTION] 0xFD000000 address"
I've seen the 0xFDxxxxxx address prefix in some kernel code in places where I would expect the 0x1fxxxxxx. What is this address? Is this like a shadow copy of this area? Is MMU in the kernel configured to put the physical region there or something else?

[2020-05-01 12:35] fifteenhex commented on #18
It's this one. All access in the kernel has to go through a mapping and not directly.
In the vendor kernel they map the io space (0x1f000000 block) to 0xfd000000 so they can hardcode addresses in the drivers.

[2020-05-01 13:05] #18 closed

[2020-05-02 11:34] fifteenhex opened #19 "[TODO] Do DDR init from uboot SPL"

[2020-05-03 09:10] fifteenhex commented on #15
FWIW: I've worked out most of what is needed from the IPL now (enabling the PLLs) and I think I'll be able to get the DDR working in the next few days. So don't spend too much time disassembling it.

[2020-05-03 13:57] #16 closed

[2020-05-03 14:44] mbilloo commented on #15
Nice! Anything else you'd like me to work on?

On Sun, May 3, 2020, 5:10 AM Daniel Palmer <notifications@github.com> wrote:

[2020-05-03 15:49] mbilloo commented on #15
Also, could you share your strategy in figuring this out. Mine is/was to
basically hunt for all functions in the disassembly that write to the MIU
registers and create a call trace. Of course, I would try to write a script
that would do this for me. There was an interesting thing I did notice when
just looking at some of the functions (I just did a text search in ghidra
for anything that started w

[2020-05-04 04:13] fifteenhex commented on #15
Mostly what you were thinking. As I know what the MIU registers look like I could find the writes to certain ones to find the right functions. I was mostly looking for the DRAM type and banks/cols being set so I could work out how it knows what memory is in the chip. For DDR2 init there is a single function that ghidra decompiled that can configure for either 32 or 64 megs of DDR2.

Yesterday I wo

[2020-05-04 04:39] mbilloo commented on #15
Excellent! Is there anything you'd like me to work on?

Thanks

On Mon, May 4, 2020, 12:14 AM Daniel Palmer <notifications@github.com>
wrote:

[2020-05-04 11:26] kadamski opened #20 "[QUESTION] Power related questions"
I've noticed that the MSC313e data brief mentions 0.9V as the typical Core Power Supply Voltage  (while 0.87 is minimal, so quite close). You are using 1.0V, however, which seems to be fine since it is much lower than the absolute maximum (1.26V) and the timing diagrams in the brief also mentions 1.0V/0.9V as VDD. So I was wondering - did you choose 1.0V just to be on a safe side? Maybe this is th

[2020-05-05 11:03] fifteenhex commented on #20
I went for 1v as I didn't have a reference schematic and that's what I measured on an existing product. I think I have a cpufreq table with the *right* core voltages for different frequencies now.

The E version of the part runs fine a 1GHz. 1.2GHz works as well but other parts of the chip don't like it and eventually the CPU gets stuck on a bus access from what I remember. The older non-E version

[2020-05-05 12:06] kadamski commented on #20
So the SoC has capability to change the core voltage to get smaller power consumption / heat generation internally based on this 1V input voltage? Meaning the actual value does not matter that much..

[2020-05-05 13:02] fifteenhex commented on #20
The regulator needs change the core voltage to save power. I think that could be done with a resistor and one of the gpios to change the feedback for the core voltage buck converter.

[2020-05-05 14:03] kadamski commented on #20
But there is not much to be gained if we cannot really go below 0.9V, right?

[2020-05-05 14:44] fifteenhex commented on #20
I don't think so. In sleep with the memory in self refresh is seems it'll be around 25mA.
To get much less I think the DDR would need to be turned off completely and that means adding a real PMIC really.

[2020-05-05 15:47] mbilloo opened #21 "MUSB USB device controller?"
@fifteenhex since @kadamski is working on the crypto engine, I thought I could tackle the USB controller, unless you had something else with higher priority?

[2020-05-05 16:18] kadamski commented on #20
The DDR in self refresh mode could be powered differently than in normal mode?

[2020-05-06 02:49] fifteenhex commented on #20
mm not sure about that. Without knowing what DDR chip is actually in there it's hard to know if it'll like the DDR voltage changing or not.

[2020-05-10 13:38] fifteenhex commented on #21
Sorry for the delay.

Getting the usb host controller working would be awesome. The only thing I can think of right now aside from that that I really want is an SD controller driver in u-boot.

You'll need some hardware to work on that I think. Right now I can't get hold of some of the parts I need to build up more boards but I can buy you a dash camera that has another chip in there that is almos

[2020-05-10 13:39] fifteenhex commented on #19
[code]

Working for M5 now.

[2020-05-10 13:54] fifteenhex commented on #19
[code]

Uboot even works :)

[2020-05-10 15:21] mbilloo commented on #21
That would be awesome. Just send me the link and I can order it myself
(that may be quicker).

On Sun, May 10, 2020, 9:38 AM Daniel Palmer <notifications@github.com>
wrote:

[2020-05-11 09:05] fifteenhex commented on #21
The 70mai lite is the best thing I can find at the moment. If you crack it open you get easy access to the serial port and a button to trigger booting from SD. Also the usb charge connector has the USB data singles wired to it so it should be usable for testing the usb host controller.

It's about $50:
https://www.gearbest.com/car-dvr/pp_3006867820113255.html

[2020-05-12 16:40] fifteenhex commented on #19
With IPL

[code]

With SPL

[code]

:-1:

[2020-05-13 09:21] kadamski commented on #19
@fifteenhex details ;)

[2020-05-13 11:36] fifteenhex commented on #19
It's not too bad once it's booted by extracting the kernel takes about 4 minutes at the moment.
I think the CPU is running from the 12MHz clock but I can't work out what in the IPL is switching it.

[2020-05-13 12:58] kadamski commented on #19
But once it is booted it works fast so someone is switching this to correct clock, right? And it isn't u-boot.. so must be in the kernel code, correct?

[2020-05-13 13:37] fifteenhex commented on #19
I don't think the cpu is running faster once booted. The environment is light enough that after the big initial XZ decompress for the kernel it feels ok. Some naive tests like gzipping a 1MB of random data show it's still pretty slow. Somewhere around 10 times slower after booting with the SPL.

I'm pretty sure there is a bit to switch the cpu clock between the 12MHz always on clock and the specia

[2020-05-13 13:49] mbilloo commented on #21
I ordered the dash cam and am waiting for it to come in. Could you send a photo outlining the location of the serial port ? I imagine that it's TTL output, correct?

Thanks

[2020-05-13 14:02] fifteenhex commented on #21
I don't have mine to hand at the moment otherwise I'd send a photo but if you look here: https://fccid.io/2AOK9-MIDRIVED08/Internal-Photos/internal-photos-4351132.pdf
The page labelled 5 of 8 has a photo of the guts. The pads between the two push switches on the bottom corner are the UART. GND RX TX 3.3V from left to right if I'm remembering correctly.
The button on the left side forces it to boot

[2020-05-13 17:06] #11 closed

[2020-05-14 09:54] kadamski commented on #21
![image](https://user-images.githubusercontent.com/11685/81918229-84191e00-95d6-11ea-9faf-75595d61a52f.png)

TX RX GND 3.3V

[2020-05-14 10:33] fifteenhex commented on #19
[code]

[2020-05-14 10:51] kadamski commented on #19
Nice! The same on M3 - 793 DMIPS vs 11 DMIPS when 0x1f2041f0 is != 0. And intrestingly this register seems to have just this one bit:
[code]

[2020-05-14 10:58] fifteenhex commented on #19
With the SPL it's a bit different:

[code]
At least proves that register is switching between clocks though.
I'm guessing the processor PLL is wired to the wrong source or one of the variables is wrong as if I change the values to the ones I have have 400MHz, 800MHz and 1GHz I can see the DMIPs number going from 19, 20 and 22 between the different speeds.

[2020-05-14 11:22] kadamski commented on #19
What settings are you changing to switch between 400/800/1000 Mhz mode?

[2020-05-14 11:30] fifteenhex commented on #19
I'm doing the same thing as I'm doing in the kernel for cpufreq.

https://github.com/breadbee/u-boot/blob/27d4c99c85b278cae8361cd9c36413c456f29519/board/thingyjp/breadbee/clk.c#L73

[2020-05-17 06:30] mbilloo opened #22 "Flashing u-boot?"
Got the dashcam, connected UART, and didn't blow anything up. Are there instructions on flashing uboot?

[2020-05-17 06:38] mbilloo commented on #22
It looks like instructions are in the breadbee_dev and buildroot repos. However, when I boot, I don't have the standard u-boot shell, it looks like something else. How can I get to u-boot?

Thanks

[2020-05-18 08:18] fifteenhex commented on #22
Sorry, for some reason I didn't get a notification.

With the mercury5 chips booting directly from SD works. On that camera you can disconnect the battery and then press the button closest to the battery connector while plugging in the usb to get it to boot from SD. I've made an SD card with the right format with u-boot and a kernel here: https://drive.google.com/file/d/1xbFF7_SD8Ws4wTvUJUDp8DqNqJ

[2020-05-18 16:44] mbilloo commented on #22
@fifteenhex Do you want me to do that as I progress? I can update the README to point to the appropriate links as I move along and submit a PR once I'm done. This way, if there are any gaps in the documentation, I can update the documentation right away (as I ask questions) instead of you having to search through these exchanges later on.

[2020-05-19 10:06] fifteenhex commented on #22
I'll clean up the dev repo a little bit and we can go from there. The plan was to make it possible to check that out, run a script and start hacking but I never got around to it. I'll try to fix that in the next few hours.

[2020-05-19 12:06] fifteenhex commented on #22
I've updated the breadbee_dev repo with just enough to build the "rtk" image for doing u-boot/kernel work on the mercury5.

My workflow at the moment is to tweak stuff in the kernel or u-boot, build the rtk and copy it to SD card. It's not as nice as booting from tftp.. usb ethernet does work on the m5 once the kernel is loaded so it's possible to replace the rtk file from linux if that makes thin

[2020-05-19 12:23] #5 closed

[2020-05-19 14:14] fifteenhex commented on #19
FWIW: There is a bunch of registers in the gpio area that are used to somehow measure the current clock. The read out there is the same for the IPL and the SPL so the cpu PLL seems to be running at the right frequency. Very weird.

[2020-05-19 14:36] mbilloo commented on #21
Since it looks like the SD card driver works on the mercury5 (since I can boot off of the SD card), do you want me to move to the USB controller kernel driver?

[2020-05-19 15:31] fifteenhex commented on #21
At the moment u-boot itself can't load from SD. In the rtk file u-boot and the kernel are joined together to trick the IPL into loading both into memory.

Once I have the u-boot SPL working properly an SD driver will be needed to load the full u-boot as the SPL will be running the show. I plan on porting the kernel driver I wrote to u-boot at some point. If you wanted to take a look at that before

[2020-05-19 15:32] fifteenhex opened #23 "[TODO] Pay someone to do "production ready" layout fixes."

[2020-05-19 15:33] #20 closed

[2020-05-19 15:33] fifteenhex commented on #2
Closing this for now.

[2020-05-19 15:33] #2 closed

[2020-05-21 23:23] kjngineering opened #24 "[QUESTION] Boot from SDIO / SD CARD Interface"
Hi fifteenhex,

Looks like a really interesting mcu - I might actually have some application for me. The dual SPI busses makes it very interesting!

Based on your current understanding of the chip, do you think it is possible to have it jump to a SPL that is in a region of an SD Card (ala Allwinner) as opposed to SPI NOR flash?

Assuming this is possible would this allow you access two the two SPI

[2020-05-22 08:46] fifteenhex commented on #24
From what I can tell the bootrom can't boot from the SD controller that is broken out on the msc313e chip so you have to have something on SPI NOR to boot.
I intend on porting the kernel driver for the SD controller to u-boot so u-boots SPL can load everything else from SD which would mean you could probably use an 8 megabit/1 megabyte flash.

If you just need two SPI buses then you can already do

[2020-05-22 12:21] fifteenhex opened #25 "[XXX] Dev board requests"

[2020-05-22 12:24] fifteenhex commented on #21
FYI: u-boot sd driver is in progress.

[2020-05-22 12:47] mbilloo commented on #21
Great! I'm balancing my day-time job and this effort. I'll keep you posted
as I make progress on the USB controller driver.

On Fri, May 22, 2020 at 8:24 AM Daniel Palmer <notifications@github.com>
wrote:

--
Mohammed Billoo

[2020-05-23 13:06] fifteenhex commented on #21
Please feel free to work at your leisure. Also please drop me a line if you want to be reimbursed for the cost of the camera. Also please leave a comment here https://github.com/breadbee/breadbee/issues/25 so I can keep track of allocating dev boards. :)

Anyhow, the driver is pretty rough but u-boot can see sd cards now:

[code]
I think this will make life a lot easier working on the camera. I'll

[2020-05-23 13:08] fifteenhex commented on #15
@kadamski

If you're still planning to work on this can you add a comment here https://github.com/breadbee/breadbee/issues/25 ?

Thanks

[2020-05-23 13:47] mbilloo commented on #25
@fifteenhex, I'd like to request a board as I'm working on the USB controller driver.

[2020-05-24 09:33] kadamski commented on #15
@fifteenhex I do plan on working on that in next week when my day-work related stuff goes a little calmer. I will first try on the dash cam, however, I guess I can expect it to have the same peripheral, right?

[2020-05-24 10:27] fifteenhex commented on #15
Great. :)
I'm pretty sure the aesdma block is the same (registers, location, interrupts etc) but I'll check.

[2020-05-24 10:28] fifteenhex commented on #24
FWIW: The uboot port now has some clunky sd support that is enough to load the kernel from SD.
You still need some SPI-NOR but 1MB is enough for uboot.

[2020-05-24 15:07] kadamski opened #26 "Mainlining effort"
I've seen you have posted first few patches to the mainline but the effort seems to be stuck for now. I guess, you have a lot of other work and I know mainlining anything requires quite some time. Is this something you would like to be helped with or this is something you would like to do yourself?

I feel like I could help out with that, once I've got a board to test the code on.. The M5 in dashc

[2020-05-24 15:57] fifteenhex commented on #26
TL;DR; version - I'd like help but at the moment my tree is a bit of a mess. Working on something like the aesdma that I'm not poking at right now might be easier because I won't be constantly breaking your stuff with rebasing...

Longer version;

I have a patch set that I think I can clean up and try pushing again but I haven't gotten around to finishing up the cleaning up part. Splitting out all

[2020-05-24 16:11] fifteenhex commented on #19
dcache setup is wrong somewhere it seems. the msc313e shows the same dhry results in uboot when dcache isn't enabled.

[2020-05-24 20:13] kadamski commented on #26
Seems like a work I do a lot daily so, well, I don't feel like it is a pain to me to do such thing so we could cooperate somehow on that if you like.

[2020-05-29 12:14] fifteenhex commented on #26
I'll have a think about how we can do it effectively. I probably need to clean up my work branch a bit, update the "for mainline" branch and then we can clean up all of the checkpatch etc errors and push it.

[2020-05-31 03:39] fifteenhex commented on #19
Fixed. SMP bit wasn't getting enabled so the caches weren't being used.
Porting to msc313e now.

[2020-06-05 16:36] fifteenhex commented on #25
2020/06/05:

![IMG_20200606_012846](https://user-images.githubusercontent.com/682372/83901505-d4c70580-a795-11ea-992a-37cafad123b8.jpg)

2020/06/07:

![IMG_20200607_172245](https://user-images.githubusercontent.com/682372/83963923-4e6d0980-a8e4-11ea-9366-2785fa1c9590.jpg)

status:

1 built for @kadamski - no 2.54mm - *delivered*
1 built for @mbilloo - no 2.54mm but happy with either? - *packed, no

[2020-06-05 16:46] brentpicasso commented on #25
I would be interested in a board and can help with testing. I have a small batch of processors that arrived from ebay, if you're short on processors I can solder my own. Thanks!

[2020-06-05 16:52] afaerber commented on #25
I would be interested in testing kernel patches and the boot mechanism with a view to [EBBR](https://github.com/ARM-software/ebbr) compliance, for booting distros such as openSUSE Tumbleweed. But I'm currently probably too busy to contribute much patches, so consider me lower priority. Thanks.

[2020-06-05 19:35] C-o-r-E commented on #25
@fifteenhex interested in getting netboot going if not already working. I just received some MSC313E from ebay so in theory i could build some too. Happy to be in the lower priority gang with @afaerber

[2020-06-06 05:09] fifteenhex commented on #25
@kadamski @mbilloo @brentpicasso @afaerber @C-o-r-E

Can you all leave a note about which 2.54mm header you want. If you want to use the breadboard adapter a right angle header needs to be fitted.

Thanks.

[2020-06-06 05:50] ConnorRigby commented on #25
Interested in a board to get a buildroot port up and running. Specifically for [nerves](https://nerves-project.org).

Edit: just reread the readme and found that there is already buildroot. I'm still happy to buy a few, but I can wait until they are more readily available.

[2020-06-06 06:02] #6 closed

[2020-06-06 06:56] fifteenhex commented on #25
Taking some of the config etc that's in the buildroot repo and trying to get it into buildroot would be useful. Do you want to mount it in a breadboard?

[2020-06-06 09:56] kadamski commented on #25
@fifteenhex You can leave the 2.54 header unpopulated. I'll solder one if I find it useful. Thank you.

[2020-06-06 13:41] mbilloo commented on #25
@fifteenhex , same with me. I can solder on headers. Thanks!

[2020-06-06 14:37] C-o-r-E commented on #25
@fifteenhex 90 degree headers would be nice.

[2020-06-06 15:00] brentpicasso commented on #25
you can skip headers for mine. Thank you!

[2020-06-06 17:01] fifteenhex commented on #25
@kadamski
That's lucky.. I tried to send you one with headers. :)

For people that don't want headers do you just not want the 2.54mm one? I'm waiting on the 1.0mm pitch headers to come.

[2020-06-06 17:30] kadamski commented on #25
@fifteenhex If it has headers, that's ok too. I just don't have any preference:)

[2020-06-06 17:34] brentpicasso commented on #25
No headers at all - I'll custom wire things if I need to.  Thanks!

[2020-06-06 18:03] mbilloo commented on #25
If it has headers that's fine. I'd rather have the board sooner. Thanks

On Sat, Jun 6, 2020, 1:30 PM Krzysztof A. Adamski <notifications@github.com>
wrote:

[2020-06-06 19:31] mbilloo commented on #22
@fifteenhex - cool! Instructions work.

"usb ethernet does work on the m5 once the kernel is loaded..." - Doesn't the driver for the USB controller need to be working to support USB ethernet?

[2020-06-06 19:51] mbilloo commented on #22
Never mind, it looks like the driver already supports host mode (hence the support for Ethernet over USB), but not in device mode, hence the issue. I'll move this conversation over to that issue.

[2020-06-06 19:51] #22 closed

[2020-06-06 20:09] mbilloo commented on #21
"musb_am335x.c" referenced in https://github.com/fifteenhex/linux/commit/6f5a574163a42ce7617c846ea981f269c49c5449 doesn't exist. https://github.com/fifteenhex/linux/commit/4baa550ecc86693106493bd92382e0edb8caf64d says to drop the dummy driver, but it looks like your commit added the inclusion of the driver back in, but not the source itself. What am I missing?

[2020-06-06 23:03] afaerber commented on #25
@fifteenhex Right angle please - unless there's any disadvantage to straight? Like, were you considering to design any expansion boards that would require both 1 mm and 2.54 mm connectors facing the same direction? (thinking of 96boards mezzanines with LS and HS connectors)

@C-o-r-E PXE boot from U-Boot I was also hoping for, to speed up turnaround times for kernel development. However, the [Read

[2020-06-07 05:40] fifteenhex commented on #21
That's going to be a rebase fail on my part. I probably merged those lines back in when they got dropped from mainline and a I rebased. You can take them out.

[2020-06-07 05:41] fifteenhex opened #27 "MK5P USB connector sucks."
Find a connector that has through board lugs that has a generic version.

[2020-06-07 07:56] fifteenhex commented on #25
@afaerber

On the headers:

My feeling with the 2.54mm header for the production boards is that it comes unpopulated and you solder whatever works for your project. All the boards I've built either have a right angle sticking out the bottom for breadboarding, or vertical on the ethernet jack side but I could imagine someone wanting it vertical sticking out of the opposite side so the board can be

[2020-06-07 14:27] fifteenhex opened #28 "[TODO] clk drivers for u-boot"

[2020-06-07 15:01] mbilloo commented on #25
@fifteenhex , what's the ETA on you shipping boards out? I ripped one of the UART pads off my dashcam and am debating getting another one off ebay. If you'll be shipping in the next few days, I'll hold off.

[2020-06-07 15:17] fifteenhex commented on #25
Ouch. Instead of ordering a new one I would first try to track the trace back and see if there is a via you can scratch off and tap on to. I would find one on my camera for you but that area on mine is covered with hot glue to stop the wire yanking the pads off.

ETA on shipping... I have one board that is fully complete but with vertical header. All of the others are waiting on 1.0mm headers to c

[2020-06-07 15:51] mbilloo commented on #25
Lol, too late. Just ripped off a few more pads while looking for vias (FYI, it looks like there are no obvious vias.  The traces for Vcc, Gnd, Rx, Tx seem to go right underneath the big black five sided rectangle with the shield underneath).

My problem was that I soldered the headers directly on the pads instead of having wires and hot gluing them down, which wasn't the smartest thing to do. C'es

[2020-06-07 16:22] mbilloo opened #29 "Powering the dascham + USB ethernet"
@fifteenhex , my strategy for powering the dashcam and having USB (initially for Ethernet) was to use an external power supply instead of the battery and use a spliced micro USB cable that doesn't have power coming out to the USB ethernet adapter. That would be provided by another spliced cable. See attached diagram.
![dashcampower_and_usb](https://user-images.githubusercontent.com/6383052/8397427

[2020-06-08 11:58] fifteenhex commented on #29
![IMG_20200608_205449](https://user-images.githubusercontent.com/682372/84027814-8fd7e480-a9ca-11ea-83e3-42efa8466027.jpg)

This is how I've been doing it. I attached a cheap USB A breakout to the internal pads for the port and then use the supplied USB cable to power it. The supplied cable doesn't have data lines so it works perfectly for supplying 5v and not messing with the data lines.

[2020-06-09 12:23] fifteenhex commented on #26
Planning to drop a patch set for the initial support into the 5.8 release cycle.

Work will be happening here: https://github.com/fifteenhex/linux/tree/msc313_mainlining

[2020-06-09 13:23] kadamski commented on #26
@fifteenhex cool. If you could CC me when you are going to push something, that would be great.

[2020-06-09 17:01] fifteenhex commented on #26
The commits I'm going to push are in place now. If it goes in it'll be the bare minimum for a shell from an initramfs on both the breadbee and the m5 camera.
If you could take a look and see if you notice anything stupid that would be really helpful.

Planning to run checkpatch etc tomorrow and send it out after that.

[2020-06-10 06:46] kadamski commented on #26
@fifteenhex there's not much of the code to look at yet. I was only able to point out some cosmetic issues so far. What I would like to do, but I'm not sure I will have time for this today, is to actually boot the camera board from this kernel.

[2020-06-10 09:36] fifteenhex commented on #26
Thanks for taking a look. The first set of patches has been pushed. Hopefully we can get those in for 5.8.

I think the next thing we should try if/when that set goes in is add the parts that are purely device tree based like reset support and the internal sram. Those would be an easy "get something in mainline" win so I'd like to hand them over to someone that wants to give it a try.

[2020-06-10 13:31] fifteenhex commented on #26
@afaerber

Would you mind taking a quick look at this for me:

https://github.com/fifteenhex/linux/commit/4028c9e432dcf147493a141680727ef5bc2ad36f

I think I've made the changes you mentioned in your email and want to make sure I haven't totally misunderstood what you meant.

[2020-06-12 16:40] fifteenhex commented on #25
If possible can everyone leave a note of what country they are in? I need to work out how to ship boards. At the moment some places are looking like $100+ :(

[2020-06-12 16:42] brentpicasso commented on #25
USA. feel free to send it in the equivalent of a first class envelope / padded envelope.  Thanks!

[2020-06-12 16:48] mbilloo commented on #25
USA

On Fri, Jun 12, 2020 at 12:40 PM Daniel Palmer <notifications@github.com>
wrote:

--
Mohammed Billoo

[2020-06-12 17:44] kadamski commented on #25
@fifteenhex: Poland. If the shipping is expensive, just skip me (at least until some cheap option becomes available again). I've seen that the [latest status from japan post](https://www.post.japanpost.jp/int/information/2020/0604_01.html) is from June 4th and Poland is still on the banned list (just like most countries in North America and Europe, I think :/).

[2020-06-12 18:22] fifteenhex commented on #25
@kadamski From what I can tell the local courier (yamato) has an international service that is still running. They say "delayed" for US and UK parcels but not totally stopped. If I can get your board to the UK at least I can have someone send it on from there.

[2020-06-13 14:32] C-o-r-E commented on #25
@fifteenhex Canada here. Good to hear about TFTP working. I like the idea of minimizing the need for the NOR flash as much as possible.

[2020-06-13 14:41] fifteenhex commented on #25
Are you thinking of putting the root fs on NFS? You can use an initramfs and have everything in memory but with only 64MB to work with I think that gets pretty tight quickly. Last time I used the in-kernel NFS root support it was pretty hard to get working correctly..

With the NOR flash it has a controller that memory maps it so it's pretty quick and the work to move data from NOR into main memor

[2020-06-13 15:31] C-o-r-E commented on #25
I'm thinking that for development workflow its best to be pulling as much as possible over the network. What is your current workflow for flashing the NOR flash?
(maybe this topic should move to another thread or medium)

[2020-06-14 06:38] fifteenhex commented on #25
My current kernel/u-boot dev flow is here: https://github.com/breadbee/breadbee_dev
I'm mostly using TFTP to load new kernels and using the existing rootfs in nor flash.
The user focused buildroot based flow also comes with a tftp server built in so the user
can make their changes and push them via tftp without installing anything extra on their
system.

[2020-06-16 13:21] kadamski opened #30 "Rethink "timing" capacitors"
The board has a few RC circuits used for power-up timing. The sequence seems to be:
a) the EN1/2 of EA3036C should start first (for 3.3 and 1.8V), they need some time to stabilize
b) the EN3  of EA3036C should go at least 1ms after that (to get 1.0V VDD)
c) the reset pin should not go low (~1.3V) for at least 5ms

To achieve that, a 1uF capacitor and 1M (a), 1.1M (b) and 1.2M (c) Ohm resistors are

[2020-06-21 15:21] fifteenhex commented on #25
The 1.0mm connectors came and all of the boards except one are now built.

There seems to be an issue with the usb connectors I've gotten recently as they don't wet with the solder well and pop off if you're a bit rough on them.. so all of these boards have some epoxy behind the connector to make it harder to pull it off. But either way please be careful....

Anyhow I will start shipping them tomo

[2020-06-25 06:00] bencorrado commented on #23
Do you have a list of asks here or just have someone review then make changes based on the review.  I could potentially help here and would not be looking for a fee.

[2020-06-25 14:42] fifteenhex commented on #23
A review by a proper EE or just someone that knows what they are doing would be great. I just tinker so going ahead and trying to make 2000+ of these scares me a little. ;)
Things that I know are certainly wrong are things like the routing of the USB signals. I didn't think I'd ever get the software side of the USB working so I just crammed them in instead of trying to route them as a proper pair.

[2020-06-25 19:01] kadamski commented on #23
You mean the USB signals on the 1mm header? Fortunately, the board is small itself so the effect of those traces is not that big. The bandwidth of the USB signal is ~90Mhz which means a wavelength of ~170cm. So the 1/10 of that is 17cm which is way more than the 30mm the dp/dm signals on the breadbee have. The two lines are not matched in length but the skew is 30.385 - 28.869 = 1.5 mm out of 45mm

[2020-06-25 19:45] kadamski commented on #23
Oh, I forgot to check the actual inner layer adjacent to the traces (In2.Cu) - it is not solid (you trace some power lines there :/) and there are a lot of voids in it above the wires which is bad as it dos not make a good return path for signal. This may be the biggest problem. The only way to try to solve it (apart from moving to 6 layers board which would probably not be worth it) would be to t

[2020-06-26 10:15] kadamski commented on #27
I've went trough different boards I have to see how they handle that and indeed most of them use microusb connector with a trough-hole soldered lugs. The bluepill boards I have are a notable exception, however, as they are soldered with single SMD pads only on both sides (like MK5P) and the only difference is they seem to have small plastic lugs going to the other side.
![bluepill](https://user-im

[2020-06-26 10:38] fifteenhex commented on #27
I think it was probably the batch of connectors I had. I tried pulling the same style of connector off of some older prototypes I made and it took a lot of force to pull them off and the pads came off with the connector. The ones I used recently leave the solder intact and the underside doesn't look like the solder wetted to it.

[2020-07-07 21:29] mbilloo commented on #25
@fifteenhex , just wanted to confirm that you received my shipping address via email? Do you have any tracking information that you could share?

[2020-07-08 09:49] fifteenhex commented on #25
Yes. Boards will be going out soon. It's been difficult to find time to go to the post office in between work, getting sick and now the crazy weather going on here. I'll send you the tracking number once I have one.

[2020-07-17 11:48] fifteenhex opened #34 "[TODO] New version with SSC325 instead?"
The upgrade to the MSC313E seems to be the SSC325. They are currently ~$1.80 on the market which is better than the $3.40 best price I have for the MSC313E. The SSC325 has 88 pins though so it might not fit.

[2020-07-21 10:10] kadamski commented on #34
How about its availability? Can it be bought in single quantities?

[2020-07-21 10:40] fifteenhex commented on #34
I don't think I can get singles at $1.8 each but I can get 100 at that price apparently.
Trying to find a reasonable pin out before buying 100 of them though. :)

[2020-07-25 06:54] fifteenhex commented on #26
Update on this: Initial patches have been merged into an upstream branch so should eventually make it into mainline.

[2020-07-25 09:53] stappersg commented on #26
What is the URL of _an upstream branch_?

[2020-07-25 11:57] fifteenhex commented on #26
https://git.kernel.org/pub/scm/linux/kernel/git/soc/soc.git/log/?h=arm/newsoc

The patches are right near the top at the moment.

[2020-07-29 10:09] fifteenhex commented on #34
I found a broker that had them for $1.50 each so I bought 100.

[2020-08-01 14:29] fifteenhex commented on #15
The HW RNG is now supported.

[2020-08-03 12:23] assa31 commented on #34
Did you find a pinout for this chip?

[2020-08-04 09:52] fifteenhex commented on #34
I have a partial pinout and it seems it's probably pin compatible with the msc313dc that I have a databrief for.

[2020-08-04 11:14] fifteenhex commented on #26
Update: the initial patches entered Linus' tree today so should be in 5.9

[2020-08-04 11:28] assa31 commented on #34
Could you please share your databrief?

[2020-08-04 11:52] fifteenhex commented on #34
Databrief for the MSC313DC is here: http://linux-chenxing.org/infinity3/msc316dc_pb_v03.pdf
The pinout of the SSC325 I have part of (part of a screenshot of a schematic) matches up so it's probably mostly the same.

[2020-08-04 13:28] assa31 commented on #34
Thank you, do you perhaps know what baud rate these chips work at? And if pin 22 and 23 ate the debugging pins?

[2020-08-04 13:37] fifteenhex commented on #34
22 and 23 are the pm uart pins which is usually used for the u-boot console etc. The normal baud rate for those is 115200.

[2020-08-11 05:20] fifteenhex commented on #30
From @wtarreau

So regarding the resistors choices, here's what I can propose:
  - use 300k, 680k, 1000k for en1+en2, en3, cpu_reset
    => that really cuts the en1/en2 time to 1/3, hoping it's still
       enough.

  - replace all 100k bleeding resistors with 150k

  - readjust divider values accordingly.

With this I can reduce the BOM from 11 resistor values to 7:

   R1,R19,R20 = 300k
   R2,R6

[2020-08-11 07:04] fifteenhex opened #35 "Add footprint for usb solder down wifi module."
Add a footprint for a usb solder down wifi module so that a usb wifi module can be soldered in place of the ethernet jack.

[2020-08-11 11:43] mbilloo commented on #25
@fifteenhex , just checking in again on the status of the boards. Thanks!

[2020-08-11 12:00] fifteenhex commented on #25
Your board is packaged and sitting on my desk with the others. The only one I've managed to get the post office to take so far was the one for @kadamski .
Airmail is still suspended to a lot of places: https://www.post.japanpost.jp/int/information/2020/0806_01_01_en.pdf

Once stuff starts moving again I'll start sending them out.

[2020-08-11 12:12] mbilloo opened #36 "Which kernel to use for development?"
I'm resuming work on the MUSB controller driver targeting the m5 camera after a hiatus. Which kernel (and in turn, branch) should we use? IIRC from a previous post, you mentioned that a shell from an initramfs is your target for 5.8/5.9. Is that still the case? Would you like help testing the 5.8/5.9 for regressions?

[2020-08-15 07:45] fifteenhex commented on #36
Sorry, for some reason I'm not getting notifications.

Please use https://github.com/fifteenhex/linux/tree/mstar_dev_v5_8_rebase_cleanup

[2020-08-19 11:48] assa31 commented on #34
Does anyone know what cross-compiler the mstar uses?

[2020-08-19 13:51] fifteenhex commented on #34
If you boot one of their kernels and take a look at the kernel version string it should show what toolchain they built it with.

BTW: this isn't really the place to dig for general MStar/SigmaStar information. Especially about their SDK etc as the intention is not to use any of their code as it's total garbage.. you can look for yourself as people have uploaded them to github. Maybe for general in

[2020-09-19 21:53] wtarreau commented on #30
Hey Daniel, just an update on this, I've just assembled my 3rd board using the resistor values above and it works fine, so I guess the values can be updated to ease component sourcing by end users.

[2020-10-09 06:47] assa31 commented on #34
Hi, I'm busy working on one of their camera modules. I managed to get the toolchain and build a kernel. but when I run their load ko file then I get the error unknown symbol. do you maybe know of a solution or of other camera libraries that I can use?

[2020-10-09 13:01] fifteenhex commented on #34
@assa31

Sorry this issue isn't a support area. Please stop asking unrelated questions here.

[2020-11-28 03:56] #36 closed

[2020-11-29 03:12] fifteenhex commented on #34
Another reason to do this:

The SSC325 can apparently deep sleep at ~3uA.

[2020-11-29 03:13] #29 closed

[2020-11-29 03:13] #26 closed

[2020-11-29 03:14] #24 closed

[2021-04-16 13:10] iamdavidcz commented on #34
@fifteenhex
I have managed to create a simple schematics of the possible candidate for the second version of Breadbee. I would like to integrate the following components on the 32 x 32 mm board:
1. SigmaStar SSC325 (rather obvious)
2. Ampak AP6256 (2.4/5 GHz dual band 802.11ac chip)
3. Winbond W25N01GVZEIG (1Gbit SPI NAND Flash)
4. EA3036C (3-channel power management IC).

Certainly, there are man

[2021-04-16 13:43] fifteenhex commented on #34
Hi @iamdavidcz

I just notice I got an email from you a few days ago.. sorry for not replying yet..

Anyhow the SSC325 version of the BreadBee is/was going to be called the SuperBreadBee.
I created a repo for it a long time ago but never pushed what I had. https://github.com/breadbee/superbreadbee
For now I have made a repo for you here: https://github.com/breadbee/wip_bb2

Maybe we can make this

[2021-04-16 13:50] iamdavidcz commented on #34
@fifteenhex Thanks, I will push my KiCad files to **wip_bb2** repo for now.

[2021-04-21 16:25] moqmar commented on #2
Also interesting would be support for 5V passive PoE, that should be a lot easier to implement?

[2021-04-22 15:22] fifteenhex commented on #2
If you want to do the schematic changes for it I don't mind trying to route it in the PCB.

[2021-04-22 15:59] rperier commented on #25
Hi, I would be interested in writing kernel mainline patches  (I am active upstream on severals platforms for years). I am also a debian maintainer, I could help for testing and add support in debian.

Regards,

[2021-04-23 07:54] moqmar commented on #2
Oof, seems like the [HR961160C](https://datasheet.lcsc.com/lcsc/1811141110_HANRUN-Zhongshan-HanRun-Elec-HR961160C_C55683.pdf) more or less just grounds the spare pins and thus doesn't expose the neccessary pins for any kind of PoE...

So, I guess without changing the RJ45 connector, any PoE is not gonna happen...

[2021-04-23 08:29] moqmar commented on #2
[~~Abracon ARJ-102S~~](https://abracon.com/Magnetics/lan/ARJ-102S.pdf) (that schematic looks like it's for Gigabit instead of PoE) and or [~~Molex 093809-8046~~](https://www.molex.com/molex/products/part-detail/modular_jacks_plug/0938098046) (wait, that's through-hole again) ~~should~~ might work, but they cost at least twice as much.

Do we want/need the LEDs on the connector?!

Edit 1: ah, just

[2021-04-23 10:03] fifteenhex commented on #2
That's the main issue I think. The current connector is the only one I could find that is SMD (can't have pins through the board) and doesn't need a cutout in the board. I think an SMD connector without the transformers + an external SMD transformer packager would work but I think it would be too long.

[2021-04-23 12:04] fifteenhex commented on #25
Taking some of the current backlog of ~300 patches would really help.
For example the clocks need to be totally reworked because mainline will not accept the way I implemented it..

Debian is probably impossible in 64MB of RAM right? The SSD202D with dual A7 and 128MB of RAM would probably be more suitable there. They are almost the same internally so anything that helps the SSD202D helps this boa

[2021-04-23 12:17] mbilloo commented on #25
Romain,

I'd  be interested in helping you. I've been doing kernel development for
the past few years for private companies, and would like to start
contributing to OSS (I've never found the correct vehicle to do so). Let me
know if you want to split up the patches - I'd be interested in reworking
the clocks as Daniel has mentioned. If there's another way to split up the
work that makes more sense

[2021-04-23 12:26] rperier commented on #25
Hi,

Yes, I can help for this for sure. Yeah, get patches merged upstream takes time and efforts (but that's also super cool and you learn a lof of stuffs, like when you hack a new freash device).

For just booting linux and booting a small rootfs, 64MB of RAM is good, ihmo.For linux you need at least ~5-6MB of RAM and that's enough, I already ran a mailine kernel with buildroot on a STM32F469i-Di

[2021-04-23 12:35] fifteenhex commented on #25
The base platform support is in mainline since 5.9 I think. I think I've gotten something into every release since then but it's hard work. Clocks are a real blocker now as without them all of the nice stuff like ethernet can't happen.

64MB is fine for buildroot but I think Debian would really struggle. Especially since the local storage is only 16MB.

I did that with a mc68000.. it was fun but n

[2021-04-23 12:48] rperier commented on #25
I agree about local storage, usually for debian you need 80-100MB min for storage. For runtime, the difference at runtime will be, you use busybox by defaut with buildroot (with uclibc or musl), while it is binutils,coreutils and so in debian (well, ok, good point with a glibc). But the stuffs running at runtime being a linux kernel and few processes like systemd, getty... and a shell? But I agree

[2021-04-23 12:59] fifteenhex commented on #25
Even with SPI NAND that will be pretty tight. The biggest chips that are not BGA are ~256MB I think.

Right now we get a buildroot userland with glibc (uclibc and musl both suck in different ways..) and python3 etc and a kernel + a smaller ulibc based userland and stripped down kernel for recovery situations into the 16MB of NOR flash.

[code]

[2021-04-23 13:21] rperier commented on #25
Nice !
Yeah at the beginning, I will probably use a compressed initramfs for developing more easily and quickly (or a small rootfs in the NOR, I don't know yet), until I get an external boot medium with enough of space ;)

[2021-04-23 13:39] fifteenhex commented on #25
I use TFTP to load a kernel for dev. For the SSD202D etc with 128MB of memory I use an initramfs inside of a FIT with the kernel but on the MSC313E with 64MB of memory you can't do that really as the decompressor for the initramfs tries to allocate 64MB of temporary space from what I remember.

[2021-04-23 17:39] fifteenhex commented on #25
Hi @mbilloo

Your board is still packed up on my desk waiting to be sent. It's getting pretty dusty :(.

If you want to get involved in some mainline stuff you can always take a look at the commits in my queue branch here:
https://github.com/fifteenhex/linux/commits/msc313_mainlining

This is the stuff that is complete enough that it's worth sending for review. But I still have boneheaded mistakes

[2021-04-23 18:49] rperier commented on #25
Yeah it was not my point, usually I use TFTP for loading the kernel too (more helpful and quicker), what I meant is for the beginning when few boot mediums are available or when few resources are available I try to use either small rootfs or small initramfs (by using a mainline buildroot or yocto, most of the time buildroot) , but, as you said, it also depends on the technical constrainst too , of

[2021-04-23 20:04] mbilloo commented on #25
Hey @fifteenhex ,

Eh, that's expected. Hopefully you'll be able to send it out towards the end of this year.

Do you care about how it's done? I.e. create a fork of your repo, for each commit, run the standard checks, fix any issues, and submit a PR once they're all done. Or do you want me to submit a patch for each commit directly once everything checks out? I take it you're the maintainer eithe

[2021-04-23 22:23] moqmar commented on #2
Soo, the old connector is 26.6mm long (including pins). Most transformer packages (like the TG110-RPE5N5LF) are 9.53mm long (including pins), and there's the TE 6339191-1 or some others being 16.48mm long (including pins), yielding 26.01mm (which isn't achievable as the pitch doesn't match - I couldn't find a 1.27mm pitch jack with LEDs yet).

If we can then fit some tiny connector for pins 4/5, 6

[2021-04-24 05:06] fifteenhex commented on #25
submit a PR once they're all done. Or do you want me to submit a patch for each commit directly once everything checks out? I take it you're the maintainer either way, so it probably doesn't matter, but wanted to see if you had a preference.

I wonder what the best way of going about it is. I think because I'm still rebasing and squashing patches PRs will break pretty quickly. I think doing the no

[2021-04-24 06:59] rperier commented on #25
@mbilloo
more we are, best it is ;)

@fifteenhex @mbilloo
We can rebase our work onto the torvalds's tree, but ideally we should rebase onto either linux-next or onto the maintainer's tree found in git.kernel.org (it depends on the subsystem) before sending a series, so things will break pretty quickly, yes.
I agree, doing the normal kernel mail process will work better and will be faster. You wil

[2021-04-24 08:48] fifteenhex commented on #25
That's what I do.

linux-next changes too much on a daily basis. I rebase onto linus' master daily and cherry pick anything from linux-next that is needed. If/when there is more than one person working in multiple feature branches for each subsystem and having all of that auto merge onto linux-next might be fun. But right now I'm one guy hacking on this code for a bit of fun.

At the moment the ch

[2021-04-24 10:07] rperier commented on #25
Good point.

Well, I realize that I have read your suggestion too quickly, my bad , sorry ^^ (I missed the "*but off* the kernel mailing list" XD). So a pre-review only between us by using git send-email, right ? yes, why not

I understand, this is precisely where we can help (with other improvements, if upstream asks for it)

No problem, I understand. Let's switch to github discussion then.

[2021-04-24 10:59] fifteenhex commented on #2
Without LEDs works.. the leds on the current connector aren't connected as the chip doesn't expose pins to drive them.

[2021-04-24 13:49] moqmar commented on #2
If we can give up on the shielding and CAT 3 is enough as well then there's the 14.5mm long Amphenol 73304-111LF. I'm not sure though if that's such a good idea...

Then there's the Amphenol RJSSE-5380 which is 18.29mm long including pins, but the pins are 2.57mm long so they can be shortened a bit - it's more of a hack though then.

[2021-04-24 18:12] mbilloo commented on #25
I think this is the better approach. I can start off by creating the patches from your commits, run each through the regular checks. If the patch looks good, I can just email you the patch, and you can email it to the main kernel list whenever you get a chance. If the patch needs some tweaks, I can create a patch on top of your commit, and send that to you for approval. This way, we're still close

[2021-04-25 15:49] moqmar commented on #2
[Würth 7498210002](https://www.mouser.de/datasheet/2/445/7498210002-1723983.pdf) 😀

It solves all of our problems, but holy shit is it expensive, almost 9 €...

[2021-04-25 17:01] moqmar commented on #27
What about a USB Type C version of the board? The [Molex 2171790001](https://www.molex.com/pdm_docs/sd/2171790001_sd.pdf) looks a bit stronger as the shield pins are soldered *and* go a bit into the board, and is relatively cheap. The [JAE DX07S016JA1](https://www.jae.com/en/releases/detail/id=92529) would additionally have plastic pins, but is a bit more expensive.

[2021-04-27 11:32] fifteenhex commented on #27
Going through the board is a bit of no go at the moment as it would break the routing.
I think the 16 pin USB-C connectors would be the way to go. I'm going to use one on the SSD210 board I'm working on.

[2021-05-03 16:44] iamdavidcz commented on #34
Hi @fifteenhex,
I have sent you a repo with KiCad project for a new Breadbee.
Please take a look when you get a minute.

[2021-05-03 17:12] fifteenhex commented on #34
Hi @iamdavidcz

I'm going to take a look tomorrow. If I don't spot anything obvious I'll make an order on oshpark.

[2021-05-09 19:25] iamdavidcz commented on #34
Hi @fifteenhex,
Did you get a chance to look into my design files?

[2021-05-10 13:36] fifteenhex commented on #34
Hi @iamdavidcz

Sorry I got pretty sick over the weekend and didn't get around to looking at it. I'll try to take a look tomorrow.

[2021-05-10 14:05] iamdavidcz commented on #34
@fifteenhex
There's no hurry, I hope you feel better now :)

[2021-08-11 20:20] dasfdlinux commented on #34
@iamdavidcz
I don't see your design files on the wip_bb2 or superbreadbee repos anywhere. Do you have them on one of these repos that I can checkout and take a look at? I'm curious about the project, and was thinking about looking into the future version of the hardware.

[2021-08-19 19:56] iamdavidcz commented on #34
@dasfdlinux
They are located [here](https://git.iamdavid.cz/breadbee2/).

@fifteenhex
Feel free to push them to wip_bb2 repo :)

[2021-11-04 14:57] dumblob opened #38 "2 microphones through ALSA (assuming working on-board audio codec)"
Just discovered this very nice SoM which is one of the closest to what I'm looking for.

I'm interested in Linux (incl. ALSA) capable as-small-as-possible board with an integrated (on-board or in SoC/SoM) audio codec which supports two microphones.

Does this board offer 2 mics? Does the ALSA support already exists for the codec?

If not, do you know of some other very small Linux-capable (64MByte

[2021-11-04 20:19] HeinzAlberto commented on #38
Hi there!

I'm sorry but I don't think that you'd be able to connect 2 mics. The SoC has one ADC for a mic (as well as an DAC for mono line out).
Anyway, there are other interfaces. Guess you could use SPI (some MEMS support it) or go over the USB 2.0 host interface and use a external sound chip...

- Hope that helps you!

Btw.: SD-Boot ist supported by the SoC

[2021-11-04 20:21] HeinzAlberto commented on #38
(If you're willing to code a bit more you can also check out the recent ESP32-variants. If the are able to do multi-mic VoIP-Calls woth active noise-cancelling, it might also be able to solve your problem ;-) )

[2021-11-04 21:27] dumblob commented on #38
Thanks for clarification about the number of ADCs. USB is a bit off for my use case due to high power consumption. But it'd be the easiest solution, that's for sure.

I need to use opus to achieve the highest quality while maintaining acceptably low bitrate. So if modern ESP32 is capable of encoding to Opus in near-realtime (1 second delay would be acceptable), then I'd consider writing more code

[2021-11-04 21:27] #38 closed

[2021-11-04 21:30] dumblob commented on #38
Oh, btw. I don't have any experience with MEMS mics especially when it comes to their quality. Do you think they offer good quality say even for some occasional all-around music recording (not just speech)?

[2021-11-05 08:53] HeinzAlberto commented on #38
I don't know how they perform with really low frequencies but in general there are many MEMS out there with good quality. Okay, every Smartphone has one nowadays but speaking from e.g. my 2019 semi-professional camcorder, it has a MEMS too (and it sounds great, even on concerts).
Of course you can't really compare it to these ECMs RØDE uses but compared to typical ECMs I would consider MEMs at lea

[2021-11-05 10:00] fifteenhex commented on #38
I think the biggest roadblock here would be that the audio part of these chips isn't worked out yet.
The SSD201/SSD202D apparently support 4 dmics but that's not much use without an ALSA driver.

[2021-11-07 22:14] dumblob commented on #38
I need to buy some of the best ones and try - internet seems generally positive about the development of MEMS mics (mainly driven by smartphones).

Yep, that'd be the biggest roadblock. Basically I wanted to avoid developing yet another shield with an audio codec. I've done that once (PCB, DTB, and quite extensive driver "glue" as there was some generic driver just for the codec) but for a second

[2021-11-08 15:58] HeinzAlberto commented on #38
It's moving away from the breadbee, but about an RPi Zero? It should have enough power by far to drive serveal mics, it has good documented hard- and software. (If thats not to expansive)

[2021-11-08 18:58] dumblob commented on #38
Yep, that'd be totally fine if I weren't this much constrained by physical dimensions. Breadbee is less than half the size.

[2021-11-08 19:36] HeinzAlberto commented on #38
Than I could offer VoCore or, a bit bigger, NanoPi Neo

[2021-11-08 19:46] dumblob commented on #38
I'm in contact with VoCore guys - they said it's possible but not out-of-box prepared for 2 mics (non-MEMS). But if the work would be upstreamable, I'd consider it - I just didn't get any clear answer whether they would accept such patches and if it's even possible to make the patches "backwards" compatible (i.e. without disturbing anything in the existing ecosystem).

NanoPi Neo should be accepta

[2021-11-09 10:41] fifteenhex commented on #38
@dumblob

There are some very small and cheap ($10) SSD202D modules out there. That would give you 2 x cortex A7 and 128MB of RAM and apparently support for multiple dmics. If you know audio stuff maybe you could help me writing a driver for the audio hardware?

[2021-11-09 16:12] dumblob commented on #38
Yep, that's more or less why I considered breadbee in the first place :wink:.

I wouldn't say I know audio stuff - it was anything but smooth work for me to write all the thousands of lines of highly error-prone code with basically zero chance to test it efficiently (this is the main pain point except for the enormous time sunk in the development itself). With audio it's very common to find mistak

[2022-03-26 21:00] schinagl opened #39 "News on the current state of breadbee"
If it was available I would immediately buy it, because it does all i need. Small, Linux and Ethernet port

Any chances that this miracle can be bought some day?

[2022-03-27 03:59] fifteenhex commented on #39
Making one is probably easier as I can't post anything for here for the last few years. I have 10 prototypes that were going to people sitting on my desk for that time.
There is still a ton of stuff that needs to be mainlined for the kernel but everything I needed works.

[2022-08-10 08:40] percramer opened #40 "Would this be able to run Balana sound"
Hi,

nice design. I was wondering if this would be able to run Balana Sound (https://sound.balenalabs.io)

Regards,

Per

[2022-08-10 14:33] fifteenhex commented on #40
How much memory does it need? 64MB is pretty tight. :)

[2022-08-11 13:52] HeinzAlberto commented on #40
Better take a look at https://github.com/ralph-irving/squeezelite.

Balena Sound recommend at least a RPi 3B+, better a RPi 4B, so I'm pretty sure that BreadBee would struggle with it...

[2022-08-11 13:59] percramer commented on #40
do you now if squeezelite also syncs the streams if multiple devices
play the same? Can't really find it in the info, balana sound does a great job with that